@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 90%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    top: auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 8%;
    right: 8%;
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 8%;
    right: 8%;
  }
}

.feature-block{
  box-shadow: 12px 14px 3px #F1F1F1;
  background-color: #FAFAFA;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 30px !important;
}

.feature-block-text{
  text-align: center;
  color: #333333;
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 10000
}

.toast{
  background-color: #295f29;
  opacity: 0.9;
}

@media only screen and (max-device-width: 993px) {
  a#sidenav-trigger-button {
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (min-device-width: 994px) {
  a#sidenav-trigger-button {
    top: 20px;
    left: 20px;
  }
}

a#sidenav-trigger-button {
  position: fixed;
  background-color: #00ff00;
  opacity: 0.9;
}

.panel-subtitle {
  margin: 28px;
}

#createuser-table>table>tbody, #managegroups-table>table>tbody, #visualizecc-table>table>tbody {
  display: block;
  max-height: 300px;
  overflow: auto;
}

#createuser-table>table>thead, #managegroups-table>table>thead, #visualizecc-table>table>thead, tbody, tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#createuser-table>table>thead, #managegroups-table>table>thead, #visualizecc-table>table>thead {
  width: calc( 100% - 1em)
}

#createuser-table>table, #managegroups-table>table, #visualizecc-table>table {
  width: 100%;
}

#configureccsave-rangesliderlabel {
  margin-left: 10px;
  margin-right: 10px;
}

#configureccsave-rangeslider {
  margin: 25px 10px 50px 10px;
}

#configureccsave-switchtitle {
  margin: 0;
}

/* Color Templating */
.input-field input:focus + label {
  color: #0F2058 !important;
}

.input-field input:focus {
  border-bottom: 1px solid #0F2058 !important;
  box-shadow: 0 1px 0 0 #0F2058 !important;
}

.active{
  color: #0F2058 !important;
}

.btn{
  background-color: #0F2058 !important;
}

li > span{
  color: #0F2058 !important;
}

.noUi-handle{
  background: #0F2058 !important;
}

.noUi-tooltip{
  background: #0F2058 !important;
}

.noUi-connect{
  background: #4E5C84 !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background: #0F2058 !important;
}

.switch label input[type=checkbox]:checked + .lever{
  background-color: #4E5C84 !important;
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,

input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
   background-color: rgba(38, 54, 104, 0.4);
}
/* End Color Templating */
