.panel-subtitle {
  margin: 28px;
}

#createuser-table>table>tbody {
  display: block;
  max-height: 300px;
  overflow: auto;
}

#createuser-table>table>thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#createuser-table>table>thead {
  width: calc( 100% - 1em)
}

#createuser-table>table {
  width: 100%;
}
