.footer-area{
  height: 15vh !important;
}

.login-area{
  height: 40vh !important;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.title-area{
  height: 5vh;
  margin-top: 0vh;
  margin-bottom: 15vh;
}

.login-title{
  font-family: 'Indie Flower', cursive;
  margin-top: 8vh;
  margin-bottom: 5vh;
	font-size: 7.5em;
  text-align: center;
}
