.footer-area{
  height: 15vh !important;
}

.login-area{
  height: 40vh !important;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.title-area{
  height: 5vh;
  margin-top: 0vh;
  margin-bottom: 15vh;
}

.login-title{
  font-family: 'Indie Flower', cursive;
  margin-top: 8vh;
  margin-bottom: 5vh;
	font-size: 7.5em;
  text-align: center;
  color: #0F2058;
}

/* Color Templating */
.input-field input:focus + label {
  color: #0F2058 !important;
}

.input-field input:focus {
  border-bottom: 1px solid #0F2058 !important;
  box-shadow: 0 1px 0 0 #0F2058 !important;
}

.active{
  color: #0F2058 !important;
}

.btn{
  background-color: #0F2058 !important;
}

li > span{
  color: #0F2058 !important;
}

.noUi-handle{
  background: #0F2058 !important;
}

.noUi-tooltip{
  background: #0F2058 !important;
}

.noUi-connect{
  background: #4E5C84 !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background: #0F2058 !important;
}

.switch label input[type=checkbox]:checked + .lever{
  background-color: #4E5C84 !important;
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,

input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
   background-color: rgba(38, 54, 104, 0.4);
}
/* End Color Templating */
